@font-face {
    font-family: 'Fette Engschrift';
    src: url('../fonts/fette-engschrift.otf');
  }

* {
    font-family: 'Fette Engschrift', 'Oswald', sans-serif;
}

#main {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
.container-fluid {
    width: 100%;
}
.destaque {
    font-weight: 800;
    color: #ffa322;
    font-family: 'Oswald', sans-serif;
    font-size: 0.85em;
}

/*hello*/

.hello {
    background-image: url(../img/linhas.png);
    height: 100vh; 
    background-size: cover;
    background-attachment: fixed;
}

.estilo_hello2 {
    background-size: cover;
}

.titulo {
    font-size: 12em;
    color: white;
    font-weight: 400;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1em;
    text-align: center;
}

.descricao {
    color: white;
    text-align: center;
    font-size: 2em;
}
.descricao2 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    padding-top: 10%;
}
.itens_menu {
    padding-top: 10%;
}
.item_menu {
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    border: 1px solid white;
    padding: 5% 15%;
}
.item_menu:hover, .item_menu:active, .item_menu:visited {
    text-decoration: none;
    border: 1px solid #ffa322;
    padding: 5% 0;
    background-color: #ffa322;
}
a:hover, a:active, a:visited {
    text-decoration: none;
}
a>.item_menu {
    color: white;
}
a>.item_menu:hover {
    color: white;
    text-decoration: none;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -ms-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
}
a>.item_menu:active, a>.item_menu:visited {
    text-decoration: none;

}
/*dinheiro*/
.money {
    background-color:#222;
    height: 100%;
}
.dinheiro_gasto {
    font-size: 3em;
    text-align: center;
    padding: 6% 15px;
    color: white;
    font-weight: 300;
}
.dinheiro_gasto2 {
    padding-bottom: 5%;
    color: white;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}
.d1 {
    padding-bottom: 0;
}
.d2 {
    padding-top: 0;
    padding-bottom: 0;
}
.dinheiro-destaque {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: .8em;
}
#slideval, #fee {
    font-size: 1.5em;
    color: white3;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
}
.valores {
    text-align: center;
}
.distancia1 {
    padding-top: 4%;
}
.distancia2 {
    padding-bottom: 4%;
}


.percurso {
    text-align: center;
    font-size: 2em;
    color: white;
    font-weight: 600;
}
.pdistancia {
    text-align: right;
    font-size: 2.3em;
    color: #ffa322;
    padding-bottom: 7%;
    font-weight: 300;
}

/* time */
.time {
    background-color: #222;
}
.horarios {
    color: white;
}
.ttitulo1, .stitulo1 {
    text-align: center;
}
.ttitulo1, .stitulo1, .ttitulo2, .stitulo2 {
    color: white;
}
.ttitulo1, .ttitulo2 {
    font-family: 'Oswald', sans-serif;
    color: #ffa322;
    font-weight: 300;
    font-size: 4em;
}
.stitulo1, .stitulo2 {
    font-size: 2.5em;
    padding-top: 3%;
}



.tempo1 {
    background-image: url(../img/alvorada.jpg);
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}
.tempo2 {
    background-image: url(../img/niteroi.jpg);
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
}
.tempo3 {
    background-image: url(../img/santos-dumont.jpg);
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
}
.tempo4 {
    background-image: url(../img/meier.jpg);
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
}
.destaque2 {
    font-weight: 200;
    color: white;
}
.tempo {
    color: #ffa322;
    font-family: 'Oswald', sans-serif;
}
.medida-t {
    color: #ffa322;
    font-size: 1.2em;
}
.medida-d {
    color: #ffa322;
}

/*map */
.mapa {
    background-color: #222;
    padding: 1%;
}
#map {
    margin: 0 auto;
}
.maps {
    font-weight: 400;
    font-size: 4em;
    color: white;
}
.legenda, .legendad {
    color: white;
    font-weight: 300;
    font-size: 1.55em;
}
.legenda {
    padding-top: 115%;
}
/* .overlay {
    background: rgba(255, 255, 255, 0.6); 
    position:relative; 
    width:100%;
    height:700px; 
    top:700px; 
    margin-top:-700px;  
} */
 .maptext {
     text-align: center;
     padding-top: 30%;
     font-size: 2em;
     color: #222222;
     font-weight: 300; 
}

/*historia*/
.history {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: white;
}
.hist {
    font-weight: 400;
    font-size: 4em;
    color: #ffa322;
    text-align: center;
}

/*manifesto */
.manifeste {
    padding-top: 6%;
    text-align: center;
}
.manifeste a{
    font-size: 2em;
    color: white;
    font-weight: 300;
}
.manifeste a:hover {
    color: #ffa322;
    text-decoration: none;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -ms-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
}
.manifesto-title {
    font-size: 4em;
    text-align: center;
    padding-top: 3%;
    font-weight: 300;
    color: white;
    
}
.manifesto-sub {
    font-size: 2em;
    text-align: center;
    padding-bottom: 3%;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 300;
}

.manifest {
    background-size: cover;
    background-attachment: fixed;
}

.manifesto1, .manifesto2, .manifesto3 {
    height: 300px;
    width: 200px;
    margin: 0 auto;
    background-color: #ffa322;
    background-position: center;
}
.back {
    text-align: center;
    font-size: 2em;
    color: white;
    font-weight: 300;
    padding-top: 6%;
}
.back:hover {
    cursor: pointer;
    text-decoration: none;
    color: #ffa322;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -ms-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
}


label {
    display: block;
    font-size: 1.3em;
    color: white;
    font-weight:300;
}

.hide {
    display: none;
}